<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    

    <section id="invoice">
        <header id="invoice_title">
            Create Invoice
        </header>
    </section>

    <section id="invoice_form">
        <input type="text" name="party-name" id="party-name">
        <input type="text" name="product-name" id="product-name">
        <input type="datetime" name="invoice-date" id="invoice-date">
    </section>

<script src="/public/components/pouchdb/dist/pouchdb.min.js"></script>
<script src="/public/js/app.js"></script>
<script src="/public/js/app.js"></script>
</body>
</html>